
@font-face {
    font-family: pop;
    src: url(./fonts/Poppins-Medium.ttf);
  }
  .btnZnali {
    font-family: "Mont";
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    background: #ffc24d;
    border-radius: 30px;
    padding: 11px 48px;
    border: none;
    /* margin-top: 450px; */
    margin-bottom: 20px;
    color: #ffffff;
  }
  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Montserrat:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Poppins:wght@300&display=swap');

* {
  margin: 0;
  position: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mona";
  margin: 0px;
}

nav {
  /* background-color:  transparent; */
  background-color: rgb(245, 244, 244);
  padding: 10px;
  width: 100%;
  /* position: sticky; */
  /* top: 0px; */
}

nav a {
  color: white;
  text-decoration: none;
  justify-content: center;
  justify-content: space-between;
  margin: 0px 20px;
  font-size: 13px;
}

nav a:hover {
  text-decoration: underline;
}

.d {
  display: flex;
  margin-left: 280px;
  margin-top: 20px;
}

.btn {
  font-family: 'Mont';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  background: transparent;
  color: #4B5258;
  width: 200px;
  height: 55px;
  border: 1px solid #43AAFF;
  border-radius: 100px;
}

/* /navbar ///////////// */


/* //////////////////////////////navbar////////////////// */



.navbarrrr {
  position: sticky;
}

.list_style {
  list-style: none;
}

.backround_img {
  background-image: url('./img/img/Фон\ \(1\).png');
  height: 670px;
  width: 100%;
}

.container3 {
  width: 70%;
  margin: 0 auto;
}

.logo_one {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fa-brands {
  font-size: 45px;
}

.fa-whatsapp {
  margin-left: 10px;
}

.logo_one h3 {
  font-family: 'Mont';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  color: #4B5258;
  margin-left: 15px;
}

.logo_one h4 {
  font-family: 'Mont';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  color: #959A9D;
}

.logo_one span {
  font-family: 'Mont';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: right;
  color: #4B5258;
}

.circle {
  display: flex;
  align-items: center;
}

.circle h4 {
  margin-left: 10px;
}

.same {
  margin-top: 100px;
}

.same button {
  margin-top: 40px;
  padding: 15px 30px;
  border-radius: 100px;
  border: none;
}

.same h2 {
  font-family: 'Mont';
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 150%;
  color: #4B5258;
}

.same span {
  font-family: 'Mont';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #4B5258;
}

.same p {
  margin-top: 30px;
  font-family: 'Mont';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  color: #4B5258;

}

.street {
  background: #43AAFF;
  line-height: 150%;
  letter-spacing: 0.15em;
  font-family: 'Mont';
  text-transform: uppercase;
  color: #FFFFFF;
  width: 297px;
  height: 80px;
  font-size: 13px;
  box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 100px;
}

.long {
  margin-top: 66px !important;
  background: #FFC24D;
  box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.3);
  font-family: 'Mont';
  font-weight: 600;
  font-size: 13px;
  line-height: 150%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 297px;
  height: 80px;
  border-radius: 100px;
}

.long:hover {
  box-shadow: inset 0px 4px 10px rgba(210, 206, 206, 0.3);
}

.street:hover {
  box-shadow: inset 0px 4px 10px rgba(210, 206, 206, 0.3);
}

header {
  margin-top: 0px;
}

.length {
  display: flex;
}

.iconss {
  display: none !important;
  margin-left: 175px;
  margin-top: -53px;
}

.imgad {
  margin-left: 153px;
  border-radius: 0px 0px 25px 0px;
  margin-top: 29px;
}

.box_six h5 {
  position: absolute;
  width: 190.9px;
  margin: 30px;
  height: 59.65px;
  margin-top: 60.17px;
  font-family: 'Mont';
  font-weight: 800;
  font-size: 18px;
  line-height: 140%;
  color: #FFFFFF;
}

.box_six {
  width: 278.54px;
  height: 179.13px;
  background: #43AAFF;
  border-radius: 30px;
  box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.37);
  box-shadow: #9c9fa2;
}

.box_six:hover {
  box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.3);

}

.box_six1 {
  width: 278.54px;
  height: 179.13px;
  border-radius: 30px;
  box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.37);
  box-shadow: #9c9fa2;
  background: #FFC24D;
}

.box_six1:hover {
  box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.box_six1 h5 {
  position: absolute;
  width: 190.9px;
  margin: 30px;
  height: 59.65px;
  margin-top: 60.17px;
  font-family: 'Mont';
  font-weight: 800;
  font-size: 18px;
  line-height: 140%;
  color: #ffffff;
}

.big_box {
  display: flex;
  gap: 55px;
  margin-top: 130px;
  justify-content: flex-start;
  flex-wrap: wrap;
}


@media (max-width:575px) {
  .nav-text {
    display: none;
  }

  .logo_one {
    margin: auto;
    display: grid;
  }

  .length {
    display: grid;
  }

  .girls {
    width: 100%;
  }

  .same h2 {
    margin-top: -100px;
    text-align: center;
    font-size: 16px !important;
    margin-left: -2px !important;
  }

  .same p {
    margin-left: 4px;
    font-size: 12px !important;
    text-align: center;
  }

  .street {
    width: 115px;
    height: 45px;
    font-size: 6px;
  }

  .long {
    width: 115px;
    height: 45px;
    font-size: 6px;
    margin: 6px !important;
  }

  .logo_one h2 {
    margin-top: 2px;
    margin-left: 0px;

  }

  .logo_one p {
    display: none;

  }

  .logo_one h3 {
    display: none;
    margin-top: 3px;
    margin-left: 1px;
  }

  .logo_one h4 {
    margin-left: 0px;
  }

  .logo_one span {
    padding-top: 100px;
    margin-left: 150px;
  }

  .logo_one button {
    margin-top: 20px;
    margin: auto;
  }

  header {
    margin-top: 20px;
  }

  .girls {
    margin-top: 100px;
  }

  .circle {
    display: none;
  }

  #telfon_icons {
    display: none !important;
    margin-top: 20px;

  }

  .iconss {

    display: block !important;
  }

  .big_box {
    justify-content: center;
    flex-wrap: wrap;
    /* display: grid; */
    margin-top: 2px !important;
    gap: 10px;
  }

  .box_six1 {
    margin-top: 1px;
  }

  .box_six {
    margin-top: 1px;
  }

  .ikkita_btn {
    justify-content: center;
    margin-top: -20px;
  }

}

@media (max-width:1075px) {
  .big_box {
    flex-wrap: wrap;
  }

  .nav-text {
    display: none;
  }

  .circle {
    display: none;
  }

  .logo_one h3 {
    display: none;
  }
}

/* h-Header ///////////////// */



/* //////////////////////////////footer///////////////// */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  font-family: sans-serif;
}

footer {
  margin-top: 380px;
  background-color: transparent;
  padding: 10px;
  text-align: center;
  /* position: sticky; */
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(245, 244, 244);

  height: autorgb(102, 98, 98);
  width: 100%;
  padding-top: 40px;
  color: #020202;
}

.footer-content {
  /* margin-top: 200px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #000000;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: #0c0c0c;
  border: 1.1px solid rgb(24, 24, 24);
  padding: 5px;
  border-radius: 50%;
}

.socials a i {
  font-size: 1.1rem;
  width: 20px;
  transition: color .4s ease;
}

.socials a:hover i {
  color: rgb(9, 23, 228);
}

.footer-bottom {
  background: #c4c3c3;
  width: 100%;
  padding: 20px;
  padding-bottom: 9px;
  text-align: center;
  margin-top: 10px;
}

.footer-bottom p {
  float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom p a {
  color: #868788;
  font-size: 16px;
  text-decoration: none;
}

.footer-bottom span {
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}

.footer-menu {
  float: right;

}

.footer-menu ul {
  display: flex;
}

.footer-menu ul li {
  padding-right: 10px;
  display: block;
}

.footer-menu ul li a {
  color: #000000;
  text-decoration: none;
}

.footer-menu ul li a:hover {
  color: #bc4708;
}

@media (max-width:500px) {
  .footer-menu ul {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////// Dostonjon///////////////// */
  .fact {
    font-family: "Mont";
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    padding-bottom: 70px;
    color: #959a9d;
  }
  .bigBlueCard{
    margin-left: 100px;
  }
  .mainBoburPage {
    /* width: 100%; */
    height: auto;
    display: flex;
    /* background: #F2F9FF; */
    background:white; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: pop;
    /* padding: 50px; */
  }
  .mainBoburPage .heading {
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
    position: relative;
  }
  .mainBoburPage span {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .containerFactCard {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .hidden{
display: none;
  }
  @media (max-width:576px) {
    .bigBlueCard {
      width: 195px !important;
      height: 100px;
      background: #43aaff;
      border-radius: 30px;
      margin-left: 20px;
  } 
  .bigBlueCardText{
    font-size: 19px;
  }
 .image-content{
  display: none !important;
 }
 .overlay{
  background: rgb(230, 229, 229) !important;
 }

.hidden{
  display: block !important;
  font-size: 14px !important;
}
.wordsForAlarm{
  display:none!important;
}
  }
  .containerFactCard .card {
    width: 328px;
    height: 410px;
    position: relative;
    border-radius: 15px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.37);
    margin: 15px;
  }
  .card::after {
    content: " ";
    width: 100%;
    height: 40%;
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: rgb(30, 83, 196); */
    background-color: #fff;
  }
  .card img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: fit;
    transition: 0.4s;
    /* box-shadow: 0px 0px 22px  rgba(0, 0, 0, 0.37); */
    z-index: 1;
  }
  .card:hover img {
    transform: scale(0.5) translateY(-50px);
    border-radius: 0px;
  }
  .card .details {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 40px;
    /* transform: translateY(100%); */
    transition: 0.4s;
  }
  .card:hover .details {
    transform: translateY(0);
  }
  .details h3 {
    font-size: 22px;
    color: rgb(0, 81, 255);
  }
  .details p {
    font-size: 15px;
    color: #333;
    margin-bottom: 7px;
  }
  .details .social-links {
    display: flex;
  }
  .details .social-links a {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    border-radius: 50%;
    color: #333;
    background-color: rgb(182, 182, 182);
    text-decoration: none;
    transition: 0.6s;
    display: grid;
    place-items: center;
    font-size: 17px;
  }
  .details .social-links a:hover {
    transform: rotate(360deg);
    background-color: #e7b251;
    color: #fff;
  }
  
  /* /////////////////////// */
  .flexingdiv h1 {
    font-size: 5.25vmin;
    text-align: center;
    color: white;
  }
  .flexingdiv p {
    font-size: max(10pt, 2.5vmin);
    line-height: 1.4;
    color: #0e390e;
    margin-bottom: 1.5rem;
  }
  
  .wrap {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100vmin;
    border-radius: 20px;
    height: 20em;
    margin: 2rem auto;
    transition: 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
  }
  .overlay {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 1rem 0.75rem;
    background:  #FFFFFF;
    transition: 0.4s ease-in-out;
    z-index: 1;
  }
  .overlay-content {
    display: flex;
    color: black;
    flex-direction: column;
    justify-content: space-between;
    width: 15vmin;
    height: 100%;
    padding: 0.5rem 0 0 0.5rem;
    transition: 0.3s ease-in-out 0.2s;
    z-index: 1;
  }
  .image-content {
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    height: 100%;
    background-size: cover;
    background-image: url("./img/Mask Group.jpg");
    transition: 0.3s ease-in-out;
    /* border: 1px solid green; */
  }
  
  .dots {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 55px;
    height: 4vmin;
    transition: 0.3s ease-in-out 0.3s;
  }
  .dot {
    width: 14px;
    height: 14px;
    background: rgb(238, 212, 15);
    border: none;
    border-radius: 50%;
    transition: 0.3s ease-in-out 0.3s;
  }
  
  .text {
    position: absolute;
    top: 0;
    right: 0;
    width: 62vmin;
    height: 100%;
    padding: 3vmin 4vmin;
    background: #fff;
    box-shadow: inset 1px 1px 15px 0 rgba(0 0 0 / 0.4);
    overflow-y: scroll;
  }
  
  .wrap:hover .overlay {
    transform: translateX(-60vmin);
  }
  .wrap:hover .image-content {
    width: 44vmin;
  }
  .wrap:hover .overlay-content {
    border: none;
    transition-delay: 0.2s;
    /* transform: translateX(60vmin); */
  }
  .wrap:hover .dots {
    transform: translateX(1rem);
  }
  .wrap:hover .dots .dot {
    background: rgb(251, 218, 5);
  }
  
  /* Animations and timing delays */
  .animate {
    animation-duration: 0.7s;
    animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
    animation-fill-mode: backwards;
  }
  /* Pop In */
  .pop {
    animation-name: pop;
  }
  @keyframes pop {
    0% {
      opacity: 0;
      transform: scale(0.5, 0.5);
    }
    100% {
      opacity: 1;
      transform: scale(1, 1);
    }
  }
  
  /* Slide In */
  .slide {
    animation-name: slide;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translate(4em, 0);
    }
    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
  
  /* Slide Left */
  .slide-left {
    animation-name: slide-left;
  }
  @keyframes slide-left {
    0% {
      opacity: 0;
      transform: translate(-40px, 0);
    }
    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
  
  .slide-up {
    animation-name: slide-up;
  }
  @keyframes slide-up {
    0% {
      opacity: 0;
      transform: translateY(3em);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .delay-1 {
    animation-delay: 0.3s;
  }
  .delay-2 {
    animation-delay: 0.6s;
  }
  .delay-3 {
    animation-delay: 0.9s;
  }
  .delay-4 {
    animation-delay: 1.2s;
  }
  .delay-5 {
    animation-delay: 1.5s;
  }
  .delay-6 {
    animation-delay: 1.8s;
  }
  .delay-7 {
    animation-delay: 2.1s;
  }
  .delay-8 {
    animation-delay: 2.4s;
  }
  .bigBlueCard {
    width: 258px;
    height: 100px;
    /* margin-left: 30px; */
    background: #43aaff;
    border-radius: 30px;
  }

  .friend {
    font-family: "Mont";
    font-style: normal;
    font-weight: 800;
    font-size: 13px;
    color: #ffffff;
  }
  .yellowBigButton {
    margin-top: 15px;
    font-family: "Mont";
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    color: #ffffff;
    padding: 15px 55px;
    background: #ffc24d;
    border-radius: 100px;
    border: none;
  }
  .list{
    display: flex;
    list-style: none;
    gap: 90px;
    font-size: 20px;
  }
  .list a:hover{
   color:#cc8b12;
   transition: .3s;
  }
  .list_item a{
    text-decoration: none;

  }
  .mainPage{
    color: black;
    text-decoration: none;
  }
  .mainPage:hover{
    color: blue;
  }